body
{ 
	display: flex;
	min-height: 100vh;
	flex-direction: column; 
}

.app 
{ 
	flex: 1; 
}

@media screen and (-ms-high-contrast:active), screen and (-ms-high-contrast:none) 
{
	.app 
	{ 
		flex: none!important;
	}
}

/* change the brand and text color */
.navbar-orange .navbar-brand,
.navbar-nav a.nav-link,
.nav-item .dropdown-menu .dropdown-item
{
	color: rgba(255,255,255,1)!important;
}

/* change the color of active or hovered links */
.navbar-orange a.nav-link:hover, 
.navbar-orange .nav-link.darken
{
	color: rgba(255,255,255,0.75)!important;
}

.nav-item .dropdown-menu .dropdown-item:hover
{
	background-color: transparent;
	color: rgba(255,255,255,0.75)!important;
}

.nav-item .dropdown-menu
{
	min-width: 0;
	border: 1px solid #343a40;
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.navbar-toggler
{
	border-color: transparent!important;
}

.navbar-nav .friend-requests-indicator
{
	position:absolute; margin-left:25px;
}

.navbar-nav .unread-messages-indicator
{
	position:absolute; margin-left:25px;
}


.accordion .accordion-header .accordion-arrow
{
  transition: 0.25s ease;
  transform: rotate(-90deg);
}

.accordion .accordion-header.ui-state-active .accordion-arrow
{
  transform: rotate(0deg);
}

@media (min-width: 728px) {
	.ad-banner {
		display: inline-block;
		width: 728px;
		height: 90px;
	}
}

@media (max-width: 728px) {
	.ad-banner {
		display: none;
	}
}

.ad-skyscraper {
	display: inline-block;
	width: 160px;
	height: 600px;
}

.ad-square {
	display: inline-block;
	width: 300px;
	height: 250px;
}

@media (min-width: 768px) 
{
	.divider-right 
	{
		border-right: 1px solid #ccc;
	}
}

@media (max-width: 768px) 
{
	.divider-right 
	{
		border-bottom: 1px solid #ccc;
		/* margin-top: 16px; */
		margin-bottom: 16px;
		padding-bottom: 17px !important;
	}
}

.divider-top 
{
	border-top: 1px solid #ccc;
}

.divider-bottom 
{
	border-bottom: 1px solid #ccc;
}

.shadow, .hover:hover
{
	box-shadow: 0 10px 20px rgba(0,0,0,.08), 0 4px 8px rgba(0,0,0,.06);
}

.disabled-wrapper 
{
	display: inline-block;
}

.disabled-wrapper .btn[disabled] 
{
	pointer-events: none;
}

.alert a { color: unset; }
.alert p { margin-bottom: 0; }

.nav-tabs.flex-column 
{ 
	border-bottom: none;  
}

.nav-tabs.flex-column .nav-link.active
{
	border-color: #dee2e6;
}

@media (min-width: 768px) 
{
	.nav-tabs.flex-column .nav-link
	{
		border-top-left-radius: .25rem;
		border-bottom-left-radius: .25rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: none; 
	}
}

@media (max-width: 768px) 
{
	.nav-tabs.flex-column .nav-link  
	{
		border-radius: .25rem;
	}
}

.items .item .details-wrapper 
{ 
	position: relative; 
}

.items .item .card.details 
{
	position: absolute;
	width: 100%;
	border-top: none;
	z-index: 1;
	margin-top: -10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.border-none { border: none!important; }
.border-none:focus { box-shadow: none; }

.modal-header { border-bottom: none; } 
.modal-footer { border-top: none; } 

.items .item-striped:nth-of-type(2n) 
{
    background-color: #f0eef0;
}

.ColorPickerItem:hover
{     
	cursor: pointer;
	border-color: #e1e1e1;
    border-style: solid;
    border-width: 2px; 
}

/* fractional bootstrap4 columns - 1/8th */

.col-1-8
{
	flex: 0 0 12.5%;
	max-width: 12.5%;
}

@media (min-width: 576px)
{
	.col-sm-1-8
	{
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
} 

@media (min-width: 768px)
{
	.col-md-1-8
	{
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
} 

@media (min-width: 992px)
{
	.col-lg-1-8
	{
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
} 

@media (min-width: 1200px)
{
	.col-xl-1-8
	{
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
} 

/* fractional bootstrap4 columns - 1/5th */

.col-1-5
{
	flex: 0 0 20%;
	max-width: 20%;
}

@media (min-width: 576px)
{
	.col-sm-1-5
	{
		flex: 0 0 20%;
		max-width: 20%;
	}
} 

@media (min-width: 768px)
{
	.col-md-1-5
	{
		flex: 0 0 20%;
		max-width: 20%;
	}
} 

@media (min-width: 992px)
{
	.col-lg-1-5
	{
		flex: 0 0 20%;
		max-width: 20%;
	}
} 

@media (min-width: 1200px)
{
	.col-xl-1-5
	{
		flex: 0 0 20%;
		max-width: 20%;
	}
} 

.jumbo 
{ 
	width: 3rem; 
	height: 3rem; 
}

.btn:focus 
{ 
	box-shadow: none; 
}

.dropdown-menu 
{ 
	margin-top: -1px; 
}

.gear-attribute i 
{ 
	width:18px 
}

.bg-cardpanel 
{ 
	background-color: #f0eef0; 
}

b, strong 
{ 
	font-weight: 600; 
}

/* 3D avatar loader */
.loader + div
{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.loader
{
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	width:100%;
	height:100%;
	line-height:20;
	position:relative;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center;
	z-index:0;
}

.loader:before, 
.loader:after
{
	opacity:0;
	box-sizing:border-box;
	content:"\0020";
	position:absolute;
	top:10%;
	left:10%;
	width:80%;
	height:80%;
	border-radius:352px;
	border:3px solid #184FA2;
	box-shadow:0 0 50px #5D9CFB,inset 0 0 50px #5D9CFB;
	
}

.loader:after
{
	z-index:1;
	-webkit-animation:gogoloader 2s infinite 1s;
	animation:gogoloader 2s infinite 1s;
}

.loader:before
{
	z-index:2;
	-webkit-animation:gogoloader 2s infinite;
	animation:gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader
{
	0%
	{
		-webkit-transform:scale(0);
		transform:scale(0);
		opacity:0;
	}

	50%
	{
		opacity:1;
	}

	100%
	{
		-webkit-transform:scale(1);
		transform:scale(1);
		opacity:0;
	}
}

@keyframes gogoloader
{
	0%
	{
		transform:scale(0);
		opacity:0;
	}

	50%
	{
		opacity:1;
	}

	100%
	{
		transform:scale(1);
		opacity:0;
	}
}